<!DOCTYPE html>
<html lang="fr">
    <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>24H du Mans</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js" -->
</head>

    <body class="hold-transition sidebar-mini layout-fixed">
      <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">24H du Mans</h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>150</h3>
                    <p>Tweets</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>4,655</h3>
                    <p>Retweets</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-retweet"></i>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3> 3,600</h3>

                    <p>Favoris</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-heart"></i>
                  </div>
                </div>
              </div>
              <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
              <section class="col-md-8">
                <!-- Le conteneur de notre carte (avec une contrainte CSS pour la taille -->
                <div class="card" id="macarte2" style="width:900px; height:600px">
                </div>
                <h2 class="title-1 m-b-25">Tweets récents</h2>
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning">
                      <thead>
                        <tr>
                          <th>date</th>
                          <th>identifiant</th>
                          <th>tweet</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>2020-04-05 11:09</td>
                            <td>@EveneMans_MAG</td>
                            <td>Vidéo du jour 😍🏁🏁 #LeMans24 Prenez soin de vous restez chez vous !! </td>
                          </tr>
                          <tr>
                            <td>2020-04-05 13:02</td>
                            <td>@KuniH8</td>
                            <td>Le Mans 24h 2019 Toyota Pit #LeMans24</td>
                          </tr>
                          <tr>
                            <td>2020-04-07 15:03</td>
                            <td>@pierlui89247685</td>
                            <td>Porsche 356B #Abarth Carrera 1600 GTL (Chassis No.1001) #LeMans24 1960</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
              </section>

              <section class="col-md-4">
                <!-- Le conteneur de notre carte (avec une contrainte CSS pour la taille -->
                <div class="card" id="macarte" style="width:450px; height:370px">
                  <!--{{carte }} -->
                </div>
                <div class="card">
                  <div class="card-body">
                    <h3 class="m-b-0">Météo</h3>
                    <div class="d-flex align-items-center flex-row m-t-30">
                      <div class="m-l-10">
                        <h3 class="m-b-0"> {{meteo$.location.name}}, {{meteo$.location.region}}, {{meteo$.location.country}} </h3>
                      </div>
                    </div>
                    <div class="d-flex align-items-center flex-row m-t-30">
                      <div class="display-5 text-info">
                        <i class="wi wi-day-showers"></i>
                        <span> {{meteo$.current.temperature}}<sup>°</sup></span>
                      </div>
                    </div>
                    <table class="table no-border mini-table m-t-20">
                      <tbody>
                        <tr>
                          <td class="text-muted">Vitesse du vent</td>
                          <td class="font-medium">{{meteo$.current.wind_speed}} m/s</td>
                        </tr>
                        <tr>
                          <td class="text-muted">Direction du vent</td>
                          <td class="font-medium">{{meteo$.current.wind_dir}}</td>
                        </tr>
                        <tr>
                          <td class="text-muted">Pression</td>
                          <td class="font-medium">{{meteo$.current.pressure}} MB</td>
                        </tr>
                        <tr>
                          <td class="text-muted">Precipitation</td>
                          <td class="font-medium">{{meteo$.current.precip}} mm</td>
                        </tr>
                        <tr>
                          <td class="text-muted">Humidité</td>
                          <td class="font-medium">{{meteo$.current.humidity}} %</td>
                        </tr>
                        <tr>
                          <td class="text-muted">Couverture nuageuse</td>
                          <td class="font-medium">{{meteo$.current.cloudcover}}</td>
                        </tr>
                        <tr>
                          <td class="text-muted">Ressenti</td>
                          <td class="font-medium">{{meteo$.current.feelslike}}<sup>°</sup></td>
                        </tr>
                        <tr>
                          <td class="text-muted">Visibilité</td>
                          <td class="font-medium">{{meteo$.current.visibility}} km</td>
                        </tr>
                        <tr>
                          <td class="text-muted">Indice UV</td>
                          <td class="font-medium">{{meteo$.current.uv_index}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <ul class="row list-style-none text-center m-t-30">
                      <li class="col-3">
                        <h4 class="text-info"><i class="wi wi-day-sunny"></i></h4>
                        <span class="d-block text-muted">09:30</span>
                        <h3 class="m-t-5">70<sup>°</sup></h3>
                      </li>
                      <li class="col-3">
                        <h4 class="text-info"><i class="wi wi-day-cloudy"></i></h4>
                        <span class="d-block text-muted">11:30</span>
                        <h3 class="m-t-5">72<sup>°</sup></h3>
                      </li>
                      <li class="col-3">
                        <h4 class="text-info"><i class="wi wi-day-hail"></i></h4>
                        <span class="d-block text-muted">13:30</span>
                        <h3 class="m-t-5">75<sup>°</sup></h3>
                      </li>
                      <li class="col-3">
                        <h4 class="text-info"><i class="wi wi-day-sprinkle"></i></h4>
                        <span class="d-block text-muted">15:30</span>
                        <h3 class="m-t-5">76<sup>°</sup></h3>
                      </li>
                    </ul>-->
                  </div>
                </div>
              </section>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">

        <div class="float-right d-none d-sm-inline-block">
          <b>24H du Mans </b>
        </div>
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->

    <!-- ./wrapper -->

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button)
    </script>
    </body>
</html>